
# Ignore virtual environment
.venv2/
*.txt

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Optional: Ignore temporary or log files
*.v2
*.tmp
